<section class="container-login">
  <div class="login-card">
    <h2 class="title">Ingrese sus datos para inicia sesión</h2>
    <form [formGroup]="FormLogin">
      <div>
        <mat-form-field class="field">
          <mat-label>Usuario o email</mat-label>
          <input formControlName="user" matInput />
          <mat-icon class="icon-input" matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="field">
          <mat-label>Contraseña</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon class="icon-input">{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="link-container">
        <span routerLink="/recover-account" class="link">Olvidé mi contraseña</span> <br />
      </div>
    </form>
    <button [disabled]="FormLogin.invalid" class="button-login">Ingresar</button>
    <span class="text-register"
      >¿Aún no tienes cuenta? <span routerLink="/register" class="link">Registrate</span>
    </span>
  </div>
</section>
