<section class="container-login">
  <div class="login-card">
    <h2 class="title">Ingrese su nueva contraseña</h2>
    <form [formGroup]="FormPassword">
      <div>
        <mat-form-field class="field">
          <mat-label>Contraseña</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide_1 ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide_1 = !hide_1"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide_1"
          >
            <mat-icon class="icon-input">{{
              hide_1 ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="field">
          <mat-label>Confirmar contraseña</mat-label>
          <input
            formControlName="confirm_password"
            matInput
            [type]="hide_2 ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide_2 = !hide_2"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide_2"
          >
            <mat-icon class="icon-input">{{
              hide_2 ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      @if (textError) {
        <span class="text-error">Las contraseñas no coinciden</span>
      }
    </form>
    <button [disabled]="FormPassword.invalid || samePasswords" class="button-pass">Confirmar</button>
    <span class="text-register"
      >¿Ya tienes una cuenta?
      <span routerLink="/login" class="link">Inicia sesión</span>
    </span>
  </div>
</section>
