<section class="container-login">
  <div class="login-card">
    <h2 class="title">Ingrese su email o teléfono para iniciar el registro</h2>
    <form [formGroup]="FormRegister">
      <div>
        <mat-form-field class="field">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
          <mat-icon class="icon-input" matSuffix>mail</mat-icon>
        </mat-form-field>
      </div>

      <span class="separator">o</span>

      <div>
        <mat-form-field class="field">
          <mat-label>Teléfono</mat-label>
          <input formControlName="phone" matInput />
          <mat-icon class="icon-input" matSuffix>phone</mat-icon>
        </mat-form-field>
      </div>
    </form>

    <button [disabled]="false" class="button-register" class="button-register">
      Iniciar registro
    </button>

    <span class="text-register"
      >¿Ya tienes una cuenta?
      <span routerLink="/login" class="link">Iniciar sesión</span>
    </span>
  </div>
</section>
