<div style="height: 100%; margin: 0; padding: 20px">
  <h1 style="color: #f0f0f0; font-size: 22px;">Facturacion</h1>

  <h4 style="margin: 0; color: #f0f0f0; font-size: 15px; font-weight: 400;">Category</h4>
  <nav>
    <ul style="list-style: none; color: #f0f0f0; padding: 0; font-size: 13px;">
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        
    </ul>
  </nav>
  <h4 style="margin: 0; color: #f0f0f0; font-size: 15px; font-weight: 400;">Category</h4>
  <nav>
    <ul style="list-style: none; color: #f0f0f0; padding: 0; font-size: 13px;">
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        
    </ul>
  </nav>
  <p style="font-size: 12px; color: #f0f0f0; text-align: center;">Developed by QCodely</p>
</div>
