<section class="container-login">
  <div class="login-card">
    <h2 class="title">Ingrese su correo para recuperar su cuenta</h2>
    <form [formGroup]="FormRecover">
      <div>
        <mat-form-field class="field">
          <mat-label>email</mat-label>
          <input formControlName="email" matInput />
          <mat-icon class="icon-input" matSuffix>mail</mat-icon>
        </mat-form-field>
      </div>
    </form>
    <button [disabled]="FormRecover.invalid" class="button-recover">
      Enviar
    </button>
    <div>
      <span class="text-register"
        >¿Aun no tienes cuenta?
        <span routerLink="/register" class="link">Registrate</span>
      </span>
    </div>
    <div>
      <span class="text-register"
        >¿Ya tienes una cuenta?
        <span routerLink="/login" class="link">Inicia sesión</span>
      </span>
    </div>
  </div>
</section>
